.container {

    height: 50vh;
    background-image: url(/img/captura-contador-gas-azul-v2.jpg);
    background-size: cover;

    h1 {
        font-family: 'GalanoNormal', sans-serif;
        font-size: 4em;
        line-height: 1em;
        text-align: left;
        width: 70%;
        color: white;
    }
}