@font-face {
  font-family: 'GalanoBold';
  src: url(/fonts/GalanoGrotesqueAltBold.otf);
}

@font-face {
  font-family: 'GalanoMedium';
  src: url(/fonts/GalanoGrotesqueAltMedium.otf);
}

@font-face {
  font-family: 'GalanoNormal';
  src: url(/fonts/GalanoGrotesqueAlt.otf);
}

.App {
  text-align: center;
}



