@font-face {
  font-family: 'GalanoBold';
  src: url(/fonts/GalanoGrotesqueAltBold.otf);
}

@font-face {
  font-family: 'GalanoMedium';
  src: url(/fonts/GalanoGrotesqueAltMedium.otf);
}

@font-face {
  font-family: 'GalanoNormal';
  src: url(/fonts/GalanoGrotesqueAlt.otf);
}

body {
  margin: 0;
  font-family: 'GalanoNormal';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
